:root {
    --dark-color: #19283f;
    --lite-blue-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.nav-bar-bondi {
    background-color: var(--dark-color);
}

.nav-bar-bondi .nav-link {
    color: white;
}

.nav-bar-bondi .nav-link:hover {
    color: var(--lite-blue-color);
}

.search {
    border-left: 1px solid var(--lite-blue-color);
    color: var(--lite-blue-color);
}

/* Landing */
.landing {
    min-height: calc(100vh - 72px);
    background-color: var(--dark-color);
}

/* Button */
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 8px 20px;
    font-weight: 500;
}

.main-btn:hover {
    background-color: var(--yellow-color);
    color: var(--red-color);
}

/* Features */
.features {
    background-color: white;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--lite-blue-color);
    display: block;
    margin: 15px auto 0;
}
